

.project-item {
  width: 10rem;
  height: 13rem;
  text-decoration: none;
  color: var(--tex)
}

.project-item>img {
  object-fit: cover;
  height: 6rem;
  border-radius: 15px 15px 0 0;
}

.imageError{
  width: 100%;
  height: 6rem;
  border-radius: 15px 15px 0 0;
  font-size: xx-large;
  font-weight: bold;
  color:var(--bg-component);
  background-color: var(--secondary);
}

.progress {
  margin-top: 2rem;
}