.profile {
  display: flex;
  align-items: center;
  gap: 1rem;

  height: 3rem;

}

.profile-image {
  margin-left: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.9rem;
}

.svg {
  margin-left: 3rem;
  fill: var(--text)
}