.project-left-bar{
  height: 96vh;
  width: 100%;
  background-color:var(--bg-component);
}

.project-left-bar > label > img, .project-left-bar > label>.imageError {
  width: 100%;
  height:25rem;
  border-radius: 0;
}

.project-info > * {
  width: 80%;
  margin:0.5rem 2.5rem;
  border-radius: 10px;
  color: var(--text)
}

.project-info> h2 {
  display: flex;
  justify-content:space-between;
  
}

.project-info > button{
  height: 2rem;
  width: 80%;
  padding:0rem 2.5rem;
  text-align: start;  
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  background-color: var(--bg);
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.project-info > button > svg{
  stroke: var(--text);
}

#description{
  width: 63%;
  padding:1rem 2.5rem;

  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 6  00;
  line-height: normal;
}

.footer-project-left-bar{
  width: 100%;
  height: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: var(--bg-component);
  border-top: 2px solid var(--text);
}

.footer-project-left-bar > h4{
  font-size: 1em;
  font-weight: 400;
  margin:0 4rem 0 2.5rem;
}